#toolbar.toolbar div.toolbar-menu ul li a.active:hover,
#toolbar.toolbar div.toolbar-menu ul li a.active:active,
#toolbar.toolbar div.toolbar-menu ul li a.active,
#toolbar.toolbar div.toolbar-menu ul li.active-trail a {
  background: none;
}

#toolbar .uxbar {
  display: block;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

#toolbar .uxbar .submenu {
  display: none;
  position: absolute;
  padding: 0px;
  z-index: 20;
  margin-left: 0px;
  margin-top: 33px;
  background: #fff;
  -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#toolbar.toolbar div.toolbar-menu ul li.uxbar:hover {
  background: #fff;
}

#toolbar.toolbar div.toolbar-menu ul li.uxbar:hover a {
  background: none;
  color: #21759B;
}


#toolbar .uxbar:hover .submenu,
#toolbar .uxbar .submenu:hover {
  display: block;
  
}

#toolbar .submenu li {
  display: block;
  float: left;
  clear: both;
  padding: 2px 5px;
  text-shadow: none;
  white-space: nowrap;
  min-width: 140px;
  cursor: pointer;
}

#toolbar .submenu li:hover {
  background: #9FD5ED;
}

#toolbar div.toolbar-menu ul.submenu li:hover a {
  color: #fff;
}

#toolbar div.toolbar-menu ul.submenu li:hover a {
  color: #fff;
  background: none;
}

#toolbar.toolbar div.toolbar-menu ul li a {
  padding: 4px 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 25px;
  cursor: pointer;
}

#toolbar div.toolbar-menu ul.submenu li a {
  color: #21759B;
}

#toolbar div.toolbar-menu ul li {
  border-right: 1px solid #555;
  background: 0;
  clear: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99999;
}

#toolbar div.toolbar-menu ul.submenu li {
  border: 0px;
  display: block;
  width: 100%;
}

#toolbar.toolbar div.toolbar-menu > ul > li:hover {
  background: #333;
}

#toolbar.toolbar div.toolbar-menu > ul > li:hover > a {
  background: #333;
  border-radius: 0px;
}

#toolbar.toolbar div.toolbar-menu > ul > li > a,
#toolbar.toolbar div.toolbar-menu > ul > li > span > a,
#toolbar.toolbar div.toolbar-menu > ul > li > span > div {
  border-right: 1px solid #333;
}

#toolbar.toolbar div.toolbar-menu {
padding: 0px 50px 0px 10px;
background-color: #464646;
background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
background-image: linear-gradient(bottom,#373737,#464646 5px);
}

#toolbar.toolbar div.toolbar-menu li {
padding: 0px;
}


#toolbar.toolbar {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
filter: none;
-ms-filter: none;
}

#toolbar #toolbar-home a span {
  margin: 5px 0px;
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1025px) {
  /* Styles */
  body #toolbar.toolbar div.toolbar-menu ul li a {
    line-height: 45px;
    font-size: 1em;
  }

  #toolbar .uxbar .submenu {
    margin-top: 53px;
  }

  #toolbar #toolbar-home a span {
    margin: 15px 10px;
  }
}

body.page-admin-content input.form-autocomplete,
body.page-admin-content input.form-text,
body.page-admin-content input.form-file,
body.page-admin-content textarea.form-textarea,
body.page-admin-content select.form-select {
  padding: 15px;
  -webkit-appearance: none;
  font-size: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  height: 47px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.page-admin-content select option {
  font-size: 1em;
}

.page-admin-content .action-links {
  display: none;
}

.page-admin-content fieldset.collapsible {
  float: left;
  border-color: #fff;
}

  
.page-admin-content input.form-submit, .page-admin-content a.button {
  background: none;
  background-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0.7em;
  color: #666;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px 17px;
  border: none;
  -webkit-appearance: none;
  height: 47px;
}

body.page-admin-content .admin-views-view .form-item-operation {
  margin-right: 0;
}

.page-admin-content .views-exposed-form .views-exposed-widget {
  padding: .5em 0 0 0;
}

.admin-views-view .views-exposed-form .views-submit-button, .admin-views-view .views-exposed-form .views-reset-button {
  padding-right: 0;
  padding-top: 1.05em;
  height: 47px;
}

.admin-views-view .views-exposed-form #edit-title.form-text {
  width: 361px;
}

body.page-admin-content select.form-select#edit-type,
body.page-admin-content select.form-select#edit-language {
  border-radius: 0;
  border-left-width: 0;
  background: #eee;
}

body.page-admin-content input.form-text#edit-title {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

fieldset.collapsed ~ table .views-field-views-bulk-operations {
  display: table-cell;
  overflow: hidden;
  width: 0px;
  float: left;
  padding: 0;
  border: 0px;

  -webkit-transition: 0.3s all ease-in-out;
}

fieldset.collapsed table .views-field-views-bulk-operations input {
  margin: 10px;
}

fieldset ~ table .views-field-views-bulk-operations {
  display: table-cell;
  overflow: hidden;
  width: 40px;
  float: left;
  padding: 0;
  -webkit-transition: 0.3s all ease-in-out;
}

.page-admin-content input.form-checkbox,
.page-admin-content input.form-radio {
  vertical-align: middle;
  margin: 6px 14px;
}

.page-admin-content .breadcrumb,
.page-admin-content .tabs.primary { display: none; }

.page-admin-content #page {
  position: static;
}

.page-admin-content .view-content {
  margin-top: -10px;
}

.page-admin-content .view-filters {
  /*background: #e0e0d8;*/
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
}

.page-admin-content .view-filters form {
  display: block;
  float: left;
  position: relative;
  left: 50%;
  margin-left: -335px;
}

.page-admin-content #branding {
  height: 140px;
}





.admin-views-view .view-content td {
vertical-align: top;
}

.admin-views-view .view-content .views-field-body {
position: relative;
cursor: pointer;
}

.admin-views-view .view-content .views-field-body p {
display: block;
overflow: hidden;
height: 20px;

position: relative;
margin: 0px;
}

.admin-views-view .view-content .views-field-body p:hover {
/* overflow: visible; */
}

.admin-views-view .view-content .views-field-body:active p {
height: auto;
}

.admin-views-view .view-content .views-field {
position: relative;
overflow: hidden;
}

.page-admin-content .views-field-language, .page-admin-content .views-field-status, .page-admin-content .views-field-changed {
  display: none;
}

.sort_advanced {
  color: #0074BD;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.view-admin-views-node.contextual-links-region {
  position: static;
}

body.page-admin-content select.form-select {
  padding-right: 30px;
  background-image: url(down.png) !important;
  background-position: 90% center !important;
  background-repeat: no-repeat !important;
}