#toolbar .unread_msg, #toolbar .badge,
#dashboard .badge {
  float: right;
  position: relative;
  display: block;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #FA5A35;
  background-color: #FA623F;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FC9F8A), color-stop(100%, #FA623F));
  background-image: -webkit-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -moz-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -ms-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -o-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: linear-gradient(top, #FC9F8A, #FA623F);
  margin: 8px 10px 9px;
}

#toolbar .unread_msg.no_unread {
  background: none;
  box-shadow: none;
}

#toolbar .unread_msg.no_unread .count {
  visibility: hidden;
}
/*
#toolbar .unread_msg.no_unread .unread_forms {
  margin-top: 0;
}*/

.unread_msg img {
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -3px;
  visibility: hidden;
}

.unread_msg.no_unread img {
  visibility: visible;
}

tr .label {
  position: relative;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #FA5A35;
  background-color: #FA623F;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FC9F8A), color-stop(100%, #FA623F));
  background-image: -webkit-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -moz-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -ms-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -o-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: linear-gradient(top, #FC9F8A, #FA623F);
  margin: 4px 10px;
}

tr .mark {
  position: relative;
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #333;
  background-color: #666;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #555));
  background-image: -webkit-linear-gradient(top, #999, #555);
  background-image: -moz-linear-gradient(top, #999, #555);
  background-image: -ms-linear-gradient(top, #999, #555);
  background-image: -o-linear-gradient(top, #999, #555);
  background-image: linear-gradient(top, #999, #555);
  margin: 4px 10px;
  opacity: 0.1;
}

tr:hover .mark {
  opacity: 0.4;
}

tr .mark:hover {
  opacity: 1;
}

#toolbar .badge {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 1px;
}



#toolbar .unread_msg.no_unread {
  
}

#toolbar .unread_forms {
position: absolute;
width: 200px;
right: -10px;
display: none;
position: absolute;
padding: 0px;
z-index: 20;
margin-left: 0px;
margin-top: 8px;
background: white;
-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#toolbar .unread_forms > div {
background: #fff;
}

#toolbar div.toolbar-menu ul li .unread_forms > div a,
#toolbar div.toolbar-menu ul li .unread_forms > div a.active {
position: relative;
display: block;
margin: 0px;
padding: 5px 20px 5px 10px;
cursor: pointer;
float: none;
color: #21759B;
text-shadow: none;
}

#toolbar.toolbar div.toolbar-menu ul li .unread_forms div a:hover,
#toolbar.toolbar div.toolbar-menu ul li .unread_forms div a.active:hover {
  background: #9FD5ED;
}

#toolbar .unread:hover .unread_forms, .unread_forms:hover,
#toolbar .unread.open .unread_forms {
  display: block;
  opacity: 1;
  z-index: 20;
}

#toolbar div.toolbar-menu ul li .unread_forms a {
  padding: 5px 10px;
  border-radius: 0px;
}

#toolbar div.toolbar-menu ul .unread {
  border: 0px;
}

#toolbar.toolbar div.toolbar-menu ul li.unread:hover,
#toolbar .unread.open {
  background-color: #fff;
}

.unread_msg:hover {
  background: #fff;
}

#toolbar div.toolbar-menu ul li .unread_forms a .unread_item {
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

#toolbar div.toolbar-menu ul li .unread_forms a .unread_item::before {
content: ".";
display: block;
width: 30px;
height: 35px;
position: absolute;
top: 0;
right: 15px;
text-indent: -9999px;
background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(100%,rgba(255, 255, 255, 1)));
background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
background: linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
}

#toolbar div.toolbar-menu ul li .unread_forms a:hover .unread_item::before {
background: -moz-linear-gradient(left, rgba(159, 213, 106, 0) 0%, rgba(159, 213, 237, 1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(159, 213, 237, 0)), color-stop(100%,rgba(159, 213, 237, 1)));
background: -webkit-linear-gradient(left, rgba(159, 213, 237, 0) 0%,rgba(159, 213, 237, 1) 100%);
background: -o-linear-gradient(left, rgba(159, 213, 237, 0) 0%,rgba(159, 213, 237, 1) 100%);
background: -ms-linear-gradient(left, rgba(159, 213, 237, 0) 0%,rgba(159, 213, 237, 1) 100%);
background: linear-gradient(left, rgba(159, 213, 237, 0) 0%,rgba(159, 213, 237, 1) 100%);
}

#toolbar.toolbar div.toolbar-menu > ul > li > span > .unread_msg {
border: 0px;
}


/* Dashboard stuff */

#toolbar div.toolbar-menu ul li .unread_forms a.active:hover,
#toolbar div.toolbar-menu ul li .unread_forms a.active:active,
#toolbar div.toolbar-menu ul li .unread_forms a.active,
#toolbar div.toolbar-menu ul li.active-trail .unread_forms a {
  background: none;
}


#dashboard #block-unread-messages-unread-messages.block div.content { padding: 0px; }
#block-unread-messages-unread-messages > h2 { display: none; }

#block-unread-messages-unread-messages li {
  position: relative;
}

#block-unread-messages-unread-messages .unread_forms a {
  display: block;
  width: 100%;
  text-indent: 15px;
}

#block-unread-messages-unread-messages .badge {
  position: absolute;
  top: -2px;
  right: 0px;

  border-color: #ddd;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));
  background-image: -webkit-linear-gradient(top, #eee, #ddd);
  background-image: -moz-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -ms-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -o-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: linear-gradient(top, #FC9F8A, #FA623F);
}

#block-unread-messages-unread-messages li:hover .badge {
  border-color: #FA5A35;
  background-color: #FA623F;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FC9F8A), color-stop(100%, #FA623F));
  background-image: -webkit-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -moz-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -ms-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: -o-linear-gradient(top, #FC9F8A, #FA623F);
  background-image: linear-gradient(top, #FC9F8A, #FA623F);
}

.webform_improved tr.even,
.webform_improved tr.odd {
  cursor: pointer;
}


.webform_improved tr.odd td.active,
.webform_improved tr.even td.active,
.webform_improved tr.odd td,
.webform_improved tr.even td { background: #eee; }

.webform_improved .wf_unread.odd td.active,
.webform_improved .wf_unread.even td.active,
.webform_improved .wf_unread.odd td,
.webform_improved .wf_unread.even td { background: #fff; }


.webform_improved tr.even:hover,
.webform_improved tr.odd:hover,
.webform_improved tr.even:hover td,
.webform_improved tr.odd:hover td,
.webform_improved tr.even:hover td.active,
.webform_improved tr.odd:hover td.active {
  background: #ddd;
}

.region #dashboard .dashboard-region div.block h2 {
  background: none;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #464646;
  border-bottom-color: #DFDFDF;
  text-shadow: white 0 1px 0;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;

  background-color: #F1F1F1;
  background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
  background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: linear-gradient(top,#F9F9F9,#ECECEC);
  font-size: 15px;
  font-weight: normal;
  padding: 7px 10px;
  margin: 0;
  line-height: 1;
}

.region #dashboard .dashboard-region .block {
background-color: whiteSmoke;
background-image: -ms-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: -moz-linear-gradient(top,#F9F9F9,whiteSmoke);background-image: -o-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(whiteSmoke));
background-image: -webkit-linear-gradient(top,#F9F9F9,whiteSmoke);
background-image: linear-gradient(top,#F9F9F9,whiteSmoke);
border-color: #DFDFDF;
-moz-box-shadow: inset 0 1px 0 #fff;
-webkit-box-shadow: inset 0 1px 0 white;
box-shadow: inset 0 1px 0 white;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.region #dashboard .dashboard-region .block .unread_msg {
  padding: 0.5em;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1025px) {
  .unread_msg img {
    top: 5px;
    left: 6px;
  }

  #toolbar .unread_msg, #toolbar .badge, #dashboard .badge {
    line-height: 37px;
    height: 36px;
    border-radius: 40px;
    padding: 0;
  }


  #toolbar .count {
    display: block;
    width: 37px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    padding: 0;
    margin: 0;
    z-index: 20;
    position: relative;
  }

  #toolbar .unread_msg .unread_forms .badge {
    line-height: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    margin-top: 16px;
  }

  #toolbar .unread_forms {
    margin-top: 0;
    top: 45px;
  }
}